#show-order {
  display: none;
  background: lightblue;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 20px;
  border-style: solid;
  border-width: medium;
  padding: 20px;
}

.jumbotron {
  position: relative;
  background: #000 url("https://download.unsplash.com/photo-1414438992182-69e404046f80") center center;
  width: 100%;
  height: inherit;
  background-size: cover;
  overflow: hidden;
  color: white;
}

.container-liquid {

}

.listing {

}

.size {
  display: ;
}

.ingredients {
  display: none;
}

.new-ingredients {
  display: none;
}
